strong {
  font-weight: normal;
}
strong.high1 {
  background-color: #FFFF99
}
strong.high2 {
  background-color: #CCFFFF;
}
strong.high3 {
  background-color: #CCFF99;
}
strong.high4 {
  background-color: #FFCC99;
}
